.auth-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #ede9fe, #f8fafc);
}

.auth-card {
  background: #ffffff;
  padding: 40px;
  width: 340px;
  border-radius: 20px;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.auth-card h2 {
  margin-bottom: 20px;
  color: #5b21b6;
}

.input-group {
  position: relative;
  margin-bottom: 22px;
}

.input-group input {
  width: 100%;
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 10px;
  background: #f9fafb;
  color: #111;
}

.input-group label {
  position: absolute;
  left: 12px;
  top: 12px;
  color: #666;
  transition: 0.3s;
  background: white;
  padding: 0 5px;
}

.input-group input:focus + label,
.input-group input:not(:placeholder-shown) + label {
  top: -8px;
  font-size: 12px;
  color: #7c3aed;
}

.password-field span {
  position: absolute;
  right: 12px;
  top: 12px;
  cursor: pointer;
}

.auth-card button {
  width: 100%;
  padding: 12px;
  background: linear-gradient(135deg, #7c3aed, #5b21b6);
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.auth-card button:hover {
  transform: scale(1.04);
}

.auth-card p {
  margin-top: 15px;
  cursor: pointer;
  color: #6b7280;
}
.app-title {
  font-size: 20px;
  font-weight: 700;
  background: linear-gradient(135deg, #7c3aed, #5b21b6);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 12px;
}
.main-title {
  position: absolute;
  top: 30px;
  font-size: 26px;
  font-weight: 700;
  color: #5b21b6;
  text-align: center;
  width: 100%;
}

/* Optional premium look */
.main-title {
  background: linear-gradient(135deg, #7c3aed, #5b21b6);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}